
# Pin mapping constraints for VC707 board.
NET "sysclk_n" LOC = E18;
NET "sysclk_p" LOC = E19;
NET "resetButton" LOC = AV40;
NET "rx" LOC = AU33;
NET "tx" LOC = AU36;
NET "leds[0]" LOC = AM39;
NET "leds[1]" LOC = AN39;
NET "leds[2]" LOC = AR37;
NET "leds[3]" LOC = AT37;
NET "leds[4]" LOC = AR35;
NET "leds[5]" LOC = AP41;
NET "leds[6]" LOC = AP42;
NET "leds[7]" LOC = AU39;

# Timing constraints for system clock.
NET "sysclk_p" TNM_NET = "sysclk_p";
TIMESPEC TS_sysclk_p = PERIOD "sysclk_p" 200 MHz HIGH 50 %;
NET "sysclk_n" TNM_NET = "sysclk_n";
TIMESPEC TS_sysclk_n = PERIOD "sysclk_n" TS_sysclk_p  PHASE 2.5 ns HIGH 50 %;

# PlanAhead Generated IO constraints 

NET "sysclk_p" IOSTANDARD = LVDS;
