/almaif/impl/rvex/rtl/rvex/
/almaif/utils/rvd/
/almaif/doc/specification/
/ignored
/almaif.tar.gz
/debug
/almaif/impl/rvex/testsw/*/*.disas
/almaif/impl/rvex/testsw/*/*.img
/almaif/impl/rvex/testsw/*/*.objects
/almaif/impl/rvex/testsw/*/loader
/almaif/impl/rvex/testsw/*/*.dump
/almaif/impl/rvex/testsw/*/*.s
/almaif/impl/rvex/testsw/*/*.o
/almaif/impl/rvex/testsw/*/*.a
/almaif/impl/rvex/testsw/*/*.d
/almaif/impl/rvex/testsw/*/*.elf
/almaif/impl/rvex/testsw/*/*.srec
/pocl-almarvi-ipif/
